# Editor / tooling
.cursor/
.vscode/

# Large text docs
interim_report/**

# Python caches
__pycache__/
*.pyc

# project_docs
project_docs/

# Saved csv files
data_gathering_and_storage/data/
*.csv

# Report Notes
report_notes/